<div class="content_editor essence_spree_product" id="<%= content.dom_id %>" data-content-id="<%= content.id %>">
  <%= content_label(content) %>
  <%= text_field_tag(
    content.form_field_name,
    content.essence.spree_product_id,
    id: content.form_field_id,
    class: 'alchemy_selectbox full_width'
  ) %>
</div>

<script>
  $('#<%= content.form_field_id %>').alchemyProductSelect({
    placeholder: "<%= Alchemy.t(:search_product, scope: 'solidus') %>",
    apiToken: "<%= current_alchemy_user.spree_api_key %>",
    baseUrl: "<%= spree.api_products_path %>",
    query_params: <%== content.settings[:query_params].to_json %>
  })
</script>
