<% content ||= local_assigns[:content] || local_assigns[:essence_spree_variant_editor] %>

<div class="content_editor essence_spree_variant" id="<%= content.dom_id %>" data-content-id="<%= content.id %>">
  <%= content_label(content) %>
  <%= text_field_tag(
    content.form_field_name,
    content.essence.variant_id,
    id: content.form_field_id,
    class: 'alchemy_selectbox full_width'
  ) %>
</div>

<script>
  $('#<%= content.form_field_id %>').alchemyVariantSelect({
    placeholder: "<%= Alchemy.t(:search_variant, scope: 'solidus') %>",
    apiToken: "<%= current_alchemy_user.spree_api_key %>",
    baseUrl: "<%= spree.api_variants_path %>",
    query_params: <%== content.settings[:query_params].to_json %>,
    <% if content.essence.variant %>
    initialSelection: {
      id: <%= content.essence.variant_id %>,
      text: "<%= content.essence.variant.name %>"
    }
    <% end %>
  })
</script>
